.navbar {
  background-color: var(--color-black);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navMenu {
  background-color: var(--color-black);
  width: 260px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 850ms;
}

.navText {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
}

.navText a {
  text-decoration: none;
  color: var(--color-content);
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 48px;
}

.navText a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s ease;
}

.activeLink {
  background-color: var(--color-primary);
}

.active-link span {
  color: var(--color-white);
}

.activeLink > svg {
  fill: var(--color-secondary) !important;
}

.navMenuItems {
  width: 100%;
}

.navText a > svg {
  fill: var(--color-primary);
}

.navText a:hover > svg {
  transition: all 0.3s ease;
  fill: var(--color-secondary);
}

.navText span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media only screen and (max-width: 767px) {
  .navMenu {
    width: unset;
    display: none;
  }
}
